body{
  background: lightcoral !important;
}
.card{

  margin: 20px ;
}
.card-detail img{
  height: 400px;
  width: 400px;
}
nav{
  width: 100vw !important;
  
}
ul{
  --bs-scroll-height: 100px;
}
.logo{
  text-decoration: none !important;
  color: #fff !important;
  background-color: rgb(72, 24, 202);
  border-radius: 2px 30px 10px 30px ;
}
.dropdown-menu :hover{
  background: blue !important;
  color: #fff !important;

}
.dropdown-toggle{
  background-color: blue !important;
}
.dropdown-item{
  font-size: 20px;
}